{% extends 'job.html' %}
{% block content %}
<head>
<style>
    nav a {
        color: #d64161;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
    }

    .book {
        padding: 20px;
        margin: 10px;
        background-color: #f7f4f4;
    }

    .review {
            margin-left: 50px;
            font-size: 20px;
    }

</style>
</head>
<body>
<div class="form-body">
 <div class="row">
   <div class="form-holder">
     <div class="form-content">
       <div class="form-items">
          <form method="POST" class="was-validated" on method="post">
            <h3 class="header">Add Full-Time Details</h3>     
            {{id}}
             <div class="col-md-12">
               <input type="number" class="form-content" name="bond" min="1" max="3" placeholder="Enter Bond In Years" required>
                <div class="valid-feedback">Bond field is valid!</div>
                <div class="invalid-feedback">Bond field cannot be blank!</div>
            </div>

            <div class="col-md-12">
               <input type="number" class="form-content" name="package" min="500000" max="30000000" placeholder="Enter Package" required>
                <div class="valid-feedback">Package field is valid!</div>
                <div class="invalid-feedback">Package field cannot be blank!</div>
            </div>


        <p>
            <button class="btn btn-primary btn-block" style="text-align:center; margin-left:1%;width:100px; height:40px;" type="submit">Add Job</button>
        </p>
    </form>
   </div>
  </div>
 </div>
</div>
</div>
</body>
{% endblock %}

