{% extends 'job.html' %}
{% block content %}
<head>
<style>
    nav a {
        color: #d64161;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
    }
    
    
    
    .form-body{
        display:flex;
        margin-top:10em;
        align-items:center;
        justify-content:center;
    }


    .book {
        padding: 20px;
        margin: 10px;
        background-color: #f7f4f4;
    }

    .review {
            margin-left: 50px;
            font-size: 20px;
    }

</style>
</head>
<body>
<div class="form-body">
 <div class="row">
   <div class="form-holder">
     <div class="form-content">
       <div class="form-items">
          <form method="POST" class="was-validated" on method="post">
            <h3 class="header">Add Internship Details</h3>     
            {{id}}
             <div class="col-md-12">
               <input type="number" class="form-content" name="duration" min="2" max="6" placeholder="Enter Duration in Month" required>
                <div class="valid-feedback">Duration field is valid!</div>
                <div class="invalid-feedback">Duration field cannot be blank!</div>
            </div>

            <div class="col-md-12 mt-3">
                    <label class="mb-3 mr-1" for="type">PPO? </label>
                    <input type="radio" class="btn-check" name="ppo" id="Yes" value="yes" autocomplete="off" required>
                    <label class="btn btn-sm btn-outline-secondary" for="Yes">Yes</label>

                    <input type="radio" class="btn-check" name="ppo" id="No" value="no" autocomplete="off" required>
                    <label class="btn btn-sm btn-outline-secondary" for="No">No</label>

                    <div class="valid-feedback mv-up">You selected a Type!</div>
                    <div class="invalid-feedback mv-up">Please select a Type!</div>
             </div>

             <div class="col-md-12">
               <input type="number" class="form-content" name="salary" min="15000" max="400000" placeholder="Enter Stipend per Month" required>
                <div class="valid-feedback">Stipend field is valid!</div>
                <div class="invalid-feedback">Stipend field cannot be blank!</div>
            </div>

        <p>
            <button class="btn btn-primary btn-block" style="text-align:center; margin-left:1%;width:100px; height:40px;" type="submit">Add Job</button>
        </p>
    </form>
   </div>
  </div>
 </div>
</div>
</div>
    
{% endblock %}

