
{% block content %}
<head>
<style>
    nav a {
        color: #d64161;
        font-size: 3em;
        margin-left: 50px;
        text-decoration: none;
    }

    .book {
        padding: 20px;
        margin: 10px;
        background-color: #f7f4f4;
    }

    .review {
            margin-left: 50px;
            font-size: 20px;
    }

</style>
</head>
<body>
    <h1>{% block title %} Add Job Details {% endblock %}</h1>
    <form method="post" >
        <p>
            <label for="title">Duration:</label>
            <input type="number" name="duration" placeholder="duration in months" required>
            </input>
        </p>

        <p>
            <label for="ppo">PPO:</label>
            Yes<input type="radio" name="ppo" value="yes" required>
            No<input type="radio" name="ppo" value="No" required>
            </input>
        </p>

        <p>
            <label for="title">Salary:</label>
            <input type="number" name="salary" placeholder="slary per months" required>
            </input>
        </p>


        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
    </body>
{% endblock %}

