{% extends 'base.html' %}

{% block content %}

<style>

    .container1{
      display:flex;
      flex-direction:column;
      background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgb(53, 92, 125) 88.8%);
      box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
      width:90%;
      margin-left:auto;
      margin-right:auto;
      margin-bottom:2%;
      transition: 0.5s ease;
      border-radius:10px;


    }

    .container1:hover{
      transform:scale(1.075,1.1);

    }

    .hidden {
      font-size:20px;
      transition:0.3s;
      margin-left:1em;
      color:#fff;
      margin-bottom:1em;
    }

    .same{
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .sameline1{
      display:inline-block;
      padding-right:2em;
    }

    .sameline2{
      display:inline-block;
      padding-left:2em;
    }

    .sameline3{
      display:inline-block;
      padding-left:2em;
    }



    h5{
      display:inline-block;
      font-weight:800;
      color:#fff;
    }

   a{
      height:100px;
      font-size:30px;
      display:flex;
      align-items:center;
      justify-content:center;
      transition: transform 1s linear;
      color:red;
      text-decoration:none;
    }

    .applybtn{
      display:flex;
      margin-left:auto;
      margin-right:auto;
      width:30%;
      justify-content:center;
      align-items:center;
      height:50px;
      font-size:17px;
      border-radius:30px;
      transition:1s;
      border-radius:30px;
      background: radial-gradient(circle at 22.4% 21.7%, rgb(4, 189, 228) 0%, rgb(2, 83, 185) 100.2%);
      box-shadow: 0 0px 0px 0 rgba(4, 189, 228, 0.75);
      text-decoration:none;
    }

    .applybtn:hover{
      background-position: 100% 0;
      box-shadow: 0 4px 35px 0 rgba(4, 189, 228, 0.75);
      transition: all .4s ease-in-out;
     }




    .back{
      display:flex;
      margin-left:auto;
      margin-right:auto;
      width:90%;
      justify-content:center;
      align-items:center;
      margin-top:10px;
      height:50px;
      font-size:17px;
      border-radius:30px;
      background-image: linear-gradient(to right, #000000, #130F40);
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0);
      text-decoration:none;
    }





</style>



<body>
   {% set count=1 %}
   {% for ej in ejobs: %}
     {% if ej|length==8 %}
       <div class="container1">
         <a style="color:#fff">{{ ej[1] }}</a>

          <div class="hidden">
           <div class="same">
            <div class="sameline1">
              <h5>Job Title:</h5> {{ej[2]}}<br>
              <h5>Mininum CGPA Required:</h5> {{ej[4]}}<br>
            </div>
            <div class="sameline2">
              <h5>Package:</h5> {{ej[7]}}<br>
              <h5>Location:</h5> {{ej[5]}}<br>
            </div>
           </div>

          </div>
          {% if ej[1] in complist %}
             <a><button type="button" class="applybtn btn btn-dark" id="{{ej.id}}" onclick="click1('{{ej.id}}',this)" disabled >Applied</button></a>
          {% else %}
             <a href="/applied/{{ej[1]}}"><button type="button" class="applybtn btn btn-dark" id="{{ej.id}}" onclick="click1('{{ej.id}}',this)">Apply</button></a>
          {% endif %}
       </div>

     {% else %}
       <div class="container1">
         <a style="color:#fff">{{ ej[1] }}</a>

          <div class="hidden">
           <div class="same">
            <div class="sameline1">
              <h5>Job Title:</h5> {{ej[2]}}<br>
              <h5>Mininum CGPA Required:</h5> {{ej[4]}}<br>
            </div>
            <div class="sameline2">
              <h5>Stipend:</h5> {{ej[7]}}<br>
              <h5>Location:</h5> {{ej[5]}}<br>
            </div>

            <div class="sameline3">
              <h5>Duration:</h5> {{ej[8]}}
            </div>
            </div>
          </div>
          {% if ej[1] in complist %}
             <a><button type="button" class="applybtn btn btn-dark" id="{{ej.id}}" onclick="click2('{{ej.id}}',this)" disabled> Applied</button></a>
          {% else %}
             <a href="/applied/{{ej[1]}}"><button type="button" class="applybtn btn btn-dark" id="{{ej.id}}" onclick="click2('{{ej.id}}',this)"> Apply</button></a>
          {% endif %}
        </div>



     {% endif %}
     {% set count=count+1 %}
    {% endfor %}

    <a link href="/home"><button type="button" class="back btn btn-dark">Back to Home</button></a>


<script>

       var click1=function(value,object){
           object.innerText="Applied";
           object.disabled="True";
           object.preventDefault();
           return false;
       };

       var click2=function(value,object){
           object.innerText="Applied";
           object.disabled="True";
           object.preventDefault();
           return false;
       };




</script>



</body>




















{% endblock %}
